@keyframes aBtnHover {
    from{
        background:#ffffff;
        color:var(--main);
    }
    to{
        background:var(--main);
        border-color:var(--main);
    }
}
@keyframes aBtnHover2 {
    from{
        background:#ffffff;
        color:#111111;
    }
    to{
        background:#111111;
        color:#ffffff;
    }
}
@keyframes btnHover {
    to{
        border-color:#666666;
        background:#ffffff;
        color:#666666;
    }
}
@keyframes wewe {
    from{
        transform:translateX(0%);
    }
    to{
        transform:translateX(-50%);
    }
}
@keyframes opacity0t1 {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}