#loginWrap{
    width:100%;
    padding:180px 0 0;
    background:#ffffff;
}
#toLogin{
    width:400px;
    height:400px;
    margin:0 auto;
}
#toLogin h2{
    font:600 45px/50px 'pretendard';
    text-align:center;
}
#toLogin form{
    width:100%;
    height:300px;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
form input{
    width:100%;
    height:48px;
    border:solid 2px #dddddd;
    border-radius:8px;
    box-sizing:border-box;
    outline:none;
    font:400 18px 'pretendard';
    text-indent:20px;
    color:#dddddd;
}
#ut{
    display:flex;
    justify-content:space-between;
    font:400 18px 'pretendard';
}
form button{
    width:100%;
    height:45px;
    border-radius:30px;
    font:500 18px 'pretendard';
}
form button:hover{
    animation:btnHover 0.3s forwards;
}
#login_submit{
    border:solid 1px var(--main);
    background:var(--main);
    color:#ffffff;
}
#start_withkakao{
    border:solid 1px #fde000;
    background:#fde000;
}